:root {
  --main-color: #008024;
  --main-light-color: #00b533;
  --text-color: #003475;
  --light-green_bg: #eefcec;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

span,
a,
button {
  display: inline-block;
}

/* Main Styling */

/* ================================================= */
/* ================================================= */

/* ----- Header ------- */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header-top {
  background-image: url("./images/header-bg/headerTop-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 100vh 0 #018b28cc;
}

.top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo.header-col-1 {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  flex: 0 1 25%;
}
/* ========================================= */

/* Header col 2 */

.header-col-2 p,
.header-col-2 a {
  color: #fff;
  font-weight: 600;
}

.header-col-2 a {
  font-size: 22px;
}
/* ========================================= */

/* Header col 3 */
.header-col-3 {
  display: flex;
  gap: 30px;
}

.header-col-3 .social-media_links {
  display: flex;
  gap: 15px;
}

.header-icon {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff26;
  border-radius: 50%;
  padding: 10px;
  border: none;
}

.header-col-3 .social-media_links .header-icon:first-child {
  padding: 10px 14px;
}

.header-col-3 .accessibility {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-col-3 .lang-switch {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #ffffff26;
  padding: 7px 24px;
  border-radius: 25px;
}
/* ========================================= */

/* Header menu  */

.header-menu {
  background-color: #017120;
  justify-content: space-between;
}

.header-menu .menu {
  display: flex;
  justify-content: space-between;
}

.header-menu a {
  color: #fff;
  font-weight: 600;
}

/* ========================================= */

/* Content */

.title {
  color: var(--main-color);
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0;
}
/* ========================================= */

/* News & ads */

.section-news {
  display: flex;
  align-items: start;
  gap: 35px;
}

.newsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.newsCard:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
}

.newsCard:first-child img {
  max-width: 480px;
}
/* ========================================= */

/* NewsCard */

.news {
  position: relative;
}

.news_link,
.ads_link {
  position: absolute;
  right: 0;
  bottom: -40px;
  color: var(--main-light-color);
  font-size: 17px;
  font-weight: 700;
}

.newsCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-color);
}

.newsCard:first-child .newsCard_title {
  font-size: 28px;
}

.newsCard .info-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsCard_title {
  font-size: 16px;
  font-weight: 700;
}

.date {
  font-size: 14px;
  color: #5b779a;
}
/* ========================================= */

/* Ads */

.section-news .ads {
  max-width: 300px;
}

.ads {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.ad {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 2px solid var(--main-light-color);
  padding-bottom: 12px;
}

.ad a {
  color: var(--text-color);
  font-size: 18px;
}
/* ========================================= */

/* Media Section */

.medias {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.medias a {
  grid-column: span 4;
}

.medias a:nth-child(4),
.medias a:nth-child(5),
.medias a:nth-child(6) {
  grid-column: span 3;
}

.medias a:last-child {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-green_bg);
  font-size: 28px;
  font-weight: 500;
  color: var(--text-color);
}
/* ========================================= */

/* Statistics Section */

.statistic-inner {
  display: flex;
  gap: 3rem;
}

.statistic {
  padding: 40px 32px;
  background-color: var(--light-green_bg);
  color: var(--text-color);
  font-weight: 600;
  width: 100%;
}

.statistic p:first-child {
  font-size: 18px;
}

.statistic p:last-child {
  font-size: 20px;
}

.statistic p:first-child span {
  font-size: 40px;
}

/* ========================================= */

/* Section Poll */

.section-poll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-poll .poll-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-green_bg);
  width: 100%;
  padding: 32px 0;
  color: var(--text-color);
}

.section-poll .poll-heading {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.section-poll .poll-heading i {
  font-size: 22px;
}

.section-poll .poll-box form {
  display: flex;
  margin: 30px 0;
  gap: 3rem;
}

.poll-box form .radio {
  display: flex;
  gap: 7px;
  font-size: 20px;
}

.poll-submit_btn {
  padding: 12px 24px;
  color: #fff;
  border: none;
  background-color: var(--main-light-color);
  border-radius: 10px;
  font-size: 16px;
}

/* ========================================= */

/* Section Departments */

.section-departments {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-inner {
  display: flex;
  gap: 10rem;
}

/* Map */

.section-departments .map {
  flex: 1;
  position: relative;
}

.section-departments .map img {
  width: 100%;
}

.section-departments .info-sidebar {
  width: 440px;
  background-color: var(--light-green_bg);
  padding: 32px;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-departments .map svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2rem;
  border: 1px solid var(--main-light-color);
  animation: mapSvgAnimation 1.6s infinite;
}

@keyframes mapSvgAnimation {
  0% {
    box-shadow: 0 0 0 0px rgba(50, 139, 50, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(83, 164, 65, 0);
  }
}

#andijon {
  position: absolute;
  top: 45%;
  right: 3%;
}

#namangan {
  position: absolute;
  top: 41%;
  right: 8.5%;
}

#farg {
  position: absolute;
  bottom: 48%;
  right: 10%;
}

#toshkent {
  position: absolute;
  top: 40%;
  right: 18%;
}

#sirdaryo {
  position: absolute;
  top: 47%;
  right: 23%;
}

#jizzax {
  position: absolute;
  top: 48%;
  right: 30%;
}

#samarqand {
  position: absolute;
  top: 53.2%;
  right: 36%;
}

#qashqadaryo {
  position: absolute;
  top: 63%;
  right: 36%;
}

#surxondaryo {
  position: absolute;
  top: 70%;
  right: 28%;
}

#navoiy {
  position: absolute;
  top: 35%;
  right: 48%;
}

#buxoro {
  position: absolute;
  top: 51%;
  right: 53%;
}

#qoraqalpo {
  position: absolute;
  top: 23%;
  left: 20%;
}

#xorazm {
  position: absolute;
  top: 38%;
  left: 26%;
}

.section-departments .info-sidebar p {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-departments .info-sidebar span {
  font-size: 16px;
  font-weight: 400;
}
/* ===================================== */

/* Section Contact */

.section-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-contact .section-inner {
  display: flex;
  align-items: start;
  gap: 50px;
  height: 450px;
}

.section-contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--text-color);
  width: 410px !important;
}

.section-contact .contact-info p {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
}

.section-contact .contact-info span {
  font-size: 16px;
  font-weight: 400;
}

.section-contact .google-map {
  width: 80%;
}

/* Section Foydali lavhalar */

.section-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.swiper-links {
  padding-bottom: 40px !important;
  width: 90% !important;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 700;
  padding: 24px;
  background-color: var(--light-green_bg);
}

.swiper-slide img {
  width: 64px;
  height: 64px;
}

/* Footer */

.footer {
  background-image: url("./images/header-bg/headerTop-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #018b28cc;
}

.footer-top {
  border-bottom: 2px solid rgba(238, 252, 236, 0.6);
  padding: 24px 0;
  z-index: 5;
}

.footer_subscribe {
  border: 1px solid rgba(238, 252, 236, 0.6);
  border-radius: 10px;
  padding: 0.5rem;
}

.footer_subscribe input {
  background-color: transparent;
  border: none;
  color: #fff !important;
}

.footer_subscribe input::placeholder {
  color: #fff;
}

.btn {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  line-height: 1.3;
  cursor: pointer;
  text-decoration: none;
}

.btn--primary {
  color: #fff;
  background-color: var(--main-light-color);
}

/* Footer Nav */

.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 3rem;
  padding: 25px 0;
  color: #fff;
  z-index: 99;
  position: relative;
}

.footer-nav a {
  color: #fff;
}

.footer a {
  color: #f7f7f7;
}

.footer-nav .col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav .col-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav .col-menu a {
  font-size: 14px;
}

/* To Top Button */

.to-top_btn {
  background-color: var(--main-light-color);
  color: #fff;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 24px;

  position: fixed;
  z-index: 9;
  bottom: 40px;
  right: 20px;

  transform: translateX(200%);

  transition: transform 0.5s;
}

/* Header Bar Menu */
.header-bar {
  background-color: transparent;
  border: none;
  background-color: #ffffff26;
  color: #fff;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 5;

  display: none;
}

@media screen and (max-width: 1140px) {
  .header-top {
    padding: 0 25px;
  }

  .top-inner {
    padding-right: 50px;
  }

  .header-col-3 .social-media_links,
  .header-col-3 .accessibility,
  .header-col-3 .lang-switch {
    display: none;
  }

  .logo.header-col-1 {
    flex: 0 0 40%;
  }

  .header-bar {
    display: block;
  }

  .header-menu {
    display: none;
  }

  .section-news {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .section-news .ads {
    max-width: 100%;
  }

  section {
    padding: 54px 15px !important;
  }

  .statistic-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-departments .section-inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .section-departments .section-inner .info-sidebar {
    width: 100%;
  }

  .section-contact .section-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .section-contact .section-inner .google-map {
    height: 100%;
    width: 90%;
  }

  .section-contact .contact-info p {
    font-size: 16px !important;
  }

  .footer-nav {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 900px) {
  .section-news .news .newsCards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .newsCard:first-child {
    grid-column-start: auto !important;
    grid-column-end: auto !important;
    flex-direction: column !important;
  }

  .newsCard:first-child img {
    max-width: 100%;
  }

  .newsCard:first-child .newsCard_title {
    font-size: 16px !important;
  }

  .section-news .news {
    flex: auto !important;
  }

  .section-news .ads {
    flex: auto !important;
  }

  .footer .footer-top .logo.header-col-1 {
    display: none;
  }

  .footer-top {
    justify-content: space-between !important;
  }

  .footer-top.top-inner {
    padding: 0 !important;
  }

  .footer-nav {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 600px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .footer-top.top-inner {
    padding-bottom: 20px !important;
  }

  .footer-top button,
  .footer-top a {
    padding: 6px 12px !important;
    font-size: 13px !important;
  }

  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-contact .section-inner .contact-info {
    width: auto !important;
  }

  .section-contact .section-inner .google-map {
    width: 100% !important;
  }

  .section-title.title {
    font-size: 22px !important;
  }

  section {
    padding: 20px 15px !important;
  }

  .section-links .swiper-slide {
    font-size: 14px !important;
  }

  .section-links .swiper-slide img {
    width: 50px;
    height: 40px;
  }

  .section-contact .contact-info p {
    font-size: 14px !important;
  }

  .section-contact .contact-info span {
    font-size: 12px !important;
  }

  .section-departments .section-inner .info-sidebar p {
    font-size: 16px !important;
  }

  .section-departments .section-inner .info-sidebar span {
    font-size: 12px !important;
  }

  .statistic p {
    font-size: 16px !important;
  }

  .statistic span {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 440px) {
  header .container {
    padding: 10px !important;
  }
  .header-top {
    padding: 0 !important;
  }

  .top-inner {
    padding-right: 35px !important;
  }

  .header-top .logo.header-col-1 {
    font-size: 10px !important;
    gap: 0px !important;
    flex: unset !important;
  }

  .logo.header-col-1 .logo_title {
    width: 100px !important;
  }

  .logo.header-col-1 img {
    width: 52px;
    height: 52px;
  }

  .header-col-2 p,
  .header-col-2 a {
    font-size: 10px !important;
  }

  .header-col-3 .search-button,
  .header-bar {
    padding: 8px !important;
    font-size: 12px;
  }

  .header-bar {
    padding: 8px 10px !important;
  }

  /* Section News */
  .newsCards {
    display: flex;
    flex-direction: column;
  }

  /* Section Media */

  .section-media .medias {
    display: flex;
    flex-direction: column;
  }

  .medias a {
    grid-column: unset;
    grid-row: unset;
  }

  .medias .button_link {
    height: 150px;
    width: 90%;
    margin: 0 auto;
  }

  /* Statistics */

  .statistic-inner {
    display: flex;
    flex-direction: column;
  }

  .poll-box {
    padding: 30px !important;
  }

  /* Section Poll */
  .section-poll .poll-box form {
    flex-direction: column;
    width: 100%;
  }

  .footer-nav {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.header-top .footer-nav {
  display: none;
}

.header-top .footer-nav.active {
  display: grid;
}
